<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div class="col-8">
      <h2 class="mb-0">Movie List</h2>
    </div>
    <div class="col-4 text-center">
      <button class="btn btn-success" (click)="openAddMovieModal()" title="Add Movie">
        <i class="fa fa-plus fa-lg"></i>
      </button>
    </div>
  </div>
  
  <!-- Modal pro přidání filmu -->
  <div
    class="modal fade"
    id="movieModal"
    tabindex="-1"
    role="dialog"
    [class.show]="showModal"
    [style.display]="showModal ? 'block' : 'none'"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="movieModalLabel">
            {{ currentEditingMovieId ? "Edit Movie" : "Add New Movie" }}
          </h5>
        </div>
        <div class="modal-body">
          <!-- Formulář pro přidání filmu -->
          <div class="form-group">
            <label for="movieTitle">Title</label>
            <input
              type="text"
              class="form-control"
              id="movieTitle"
              [(ngModel)]="newMovieTitle"
              placeholder="Enter movie title"
            />
          </div>
          <div class="form-group">
            <label for="movieRating">Rating</label>
            <input
              type="number"
              class="form-control"
              id="movieRating"
              [(ngModel)]="newMovieRating"
              placeholder="Rating (1-7)"
              min="1"
              max="7"
            />
          </div>
          <!-- Add a file input field for image uploads -->
      <div class="form-group">
        <label for="movieImage">Image</label>
        <input
          type="file"
          class="form-control-file"
          id="movieImage"
          (change)="handleImageUpload($event)"
        />
      </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeAddMovieModal()"
          >
            Close
          </button>
          <button type="button" class="btn btn-primary" (click)="saveMovie()">
            {{ currentEditingMovieId ? "Update" : "Save" }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabulka s filmy -->
  <table class="table table-hover">
    <thead class="thead-light align-items-center justify-content-evenly">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Rating</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let movie of movies$ | async">
        <td>{{ movie.title }}</td>
        <td>
          <app-star-rating
            [rating]="movie.rating"
            (ratingChange)="onRatingChanged(movie, $event)"
          >
          </app-star-rating>
        </td>
        <td>
          <div class="text-start">
            <button
              class="btn btn-primary btn-sm"
              (click)="editMovie(movie)"
              title="Edit Movie"
            >
              <i class="fa fa-edit fa-lg"></i>
            </button>
          </div>
        </td>
        <td>
          <div class="text-left">
          <button
              class="btn btn-danger btn-sm mx-2"
              (click)="deleteMovie(movie.id)"
              title="Delete Movie"
            >
              <i class="fa fa-trash fa-lg"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
